 <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="flat-form">
          <h1>Add a new Flat</h1>
          <div class="">
            <%= form_for(@flat) do |f| %>
              <div class="form-group">
                <%= f.label :name %>
                <%= f.text_field :name, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :address %>
                <%= f.text_field :address, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :description %>
                <%= f.text_area :address, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :number_of_guests %>
                <%= f.number_field :number_of_guests, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :price_per_night %>
                <%= f.number_field :price_per_night, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :picture_url %>
                <%= f.text_field :picture_url, class: 'form-control' %>
              </div>
              <div class="">
                <%= f.submit class: 'btn btn-primary' %>
                <%= link_to 'Cancel', '#', class: 'btn btn-danger' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
